* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.search-panel {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #3f56b1;
}
.search-form {
  display: flex;
}

.search-form input {
  padding: 12px 20px;
  border: none;
  outline: none;
}

.search-form > button {
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.content {
  padding: 15px 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.photo-card {
  overflow: hidden;
}

.photo-link {
  overflow: hidden;
}

.photo-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.load-more {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: #3f56b1;
  color: #fff;
  transition: 0.3s;
}

.load-more:hover {
  background-color: #5a72d6;
}
